{{ if and .binaries.fish .binaries.eza -}}
function ll
    eza -lg --group-directories-first --icons --octal-permissions $argv
end

function lla
    eza -lga --group-directories-first --icons --octal-permissions $argv
end

function llt
    if test -z "$argv[1]"
        eza -lg --tree --icons --octal-permissions
    else
        eza -lg --tree --icons --octal-permissions -L "$argv[1]"
    end
end

{{ end -}}

