{{- $apps := list
      "aws"
      "bat"
      "brew"
      "bw"
      "cargo"
      "chezmoi"
      "delta"
      "eza"
      "fd"
      "fish"
      "fzf"
      "git"
      "go"
      "gpg"
      "jq"
      "kitty"
      "kubectl"
      "podman"
      "python3"
      "ranger"
      "rg"
      "starship"
      "tmux"
      "vim"
      "yc"
-}}

{{- $homePath := list
      (joinPath .chezmoi.homeDir ".local/bin")
      (joinPath .chezmoi.homeDir ".cargo/bin")
      (joinPath .chezmoi.homeDir ".go/bin")
-}}
{{- $path := concat (splitList ":" (env "PATH")) $homePath -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $path = append $path "/opt/homebrew/bin" -}}
{{- end -}}

{{- $installed := dict -}}
{{- range $apps -}}
{{-   $_ := set $installed . (findExecutable . $path) -}}
{{- end -}}

{{- $gpgInitEnabled := all $installed.gpg $installed.bw -}}
{{- $gpgSearchTerm := "" -}}
{{- $gpgMainKeyId := "" -}}
{{- if $gpgInitEnabled -}}
{{-   $gpgSearchTerm = promptString "Search term or ID for GPG key in Bitwarden" "gpg" -}}
{{-   $gpgKey := (bitwarden "item" $gpgSearchTerm).notes -}}
{{-   $gpgPackets := output "sh" "-c" (printf "printf -- %s | gpg --list-packets" ($gpgKey | quote)) -}}
{{-   $gpgMainKeyId = $gpgPackets | regexFind "keyid: [0-9A-F]{16}" | substr 7 23 -}}
{{- end -}}

data:
  installed:
    {{- toYaml $installed | trim | nindent 4 }}
  enabled:
    fishFzf: {{ all $installed.fish $installed.fzf $installed.fd $installed.bat }}
    gpgInit: {{ $gpgInitEnabled }}
  {{- if $gpgInitEnabled }}
  gpg:
    searchTerm: {{ $gpgSearchTerm | quote }}
    mainKeyId: {{ $gpgMainKeyId | quote }}
  {{- end }}
  {{- if $installed.git }}
  git:
    name: {{ promptString "Name for git" | quote }}
    email: {{ promptString "Email for git" | quote }}
  {{- end }}

{{ if $installed.bw -}}
bitwarden:
  unlock: true

{{ end -}}

{{ if $installed.delta -}}
diff:
  pager: delta

{{ end -}}

