{{- /*
Other useful apps:
- btop
- cloc
- dog
- duf
- dust
- yq
*/ -}}
{{- $apps := list
      (dict
        "name" "aws-cli"
        "desc" "Universal Command Line Interface for Amazon Web Services"
        "exec" "aws")
      (dict
        "name" "bat"
        "desc" "A cat(1) clone with wings"
        "exec" "bat")
      (dict
        "name" "bitwarden-cli"
        "desc" "Bitwarden client"
        "exec" "bw")
      (dict
        "name" "cargo"
        "desc" "The Rust package manager"
        "exec" "cargo")
      (dict
        "name" "chezmoi"
        "desc" "Manage your dotfiles across multiple diverse machines, securely"
        "exec" "chezmoi")
      (dict
        "name" "curl"
        "desc" "A command line tool and library for transferring data with URL syntax"
        "exec" "curl")
      (dict
        "name" "eza"
        "desc" "A modern alternative to ls"
        "exec" "eza")
      (dict
        "name" "fd-find"
        "desc" "A simple, fast and user-friendly alternative to 'find'"
        "exec" "fd")
      (dict
        "name" "fish-shell"
        "desc" "The user-friendly command line shell"
        "exec" "fish")
      (dict
        "name" "fzf"
        "desc" "A command-line fuzzy finder"
        "exec" "fzf")
      (dict
        "name" "git"
        "desc" "A version control system"
        "exec" "git")
      (dict
        "name" "git-delta"
        "desc" "A syntax-highlighting pager for git, diff, grep, and blame output"
        "exec" "delta")
      (dict
        "name" "go"
        "desc" "The Go programming language"
        "exec" "go")
      (dict
        "name" "gpg"
        "desc" "The GNU Privacy Guard"
        "exec" "gpg")
      (dict
        "name" "homebrew"
        "desc" "The missing package manager for macOS (or Linux)"
        "exec" "brew")
      (dict
        "name" "jq"
        "desc" "Command-line JSON processor"
        "exec" "jq")
      (dict
        "name" "kitty"
        "desc" "Cross-platform, fast, feature-rich, GPU based terminal"
        "exec" "kitty")
      (dict
        "name" "kubectl"
        "desc" "Production-Grade Container Scheduling and Management"
        "exec" "kubectl")
      (dict
        "name" "podman"
        "desc" "A tool for managing OCI containers and pods"
        "exec" "podman")
      (dict
        "name" "python3"
        "desc" "The Python programming language"
        "exec" "python3")
      (dict
        "name" "ranger"
        "desc" "A VIM-inspired filemanager for the console"
        "exec" "ranger")
      (dict
        "name" "ripgrep"
        "desc" "A line-oriented search tool that recursively searches the current directory for a regex pattern"
        "exec" "rg")
      (dict
        "name" "starship"
        "desc" "The minimal, blazing-fast, and infinitely customizable prompt for any shell"
        "exec" "starship")
      (dict
        "name" "tmux"
        "desc" "A terminal multiplexer"
        "exec" "tmux")
      (dict
        "name" "vim"
        "desc" "A lovely text editor"
        "exec" "vim")
      (dict
        "name" "yc"
        "desc" "Yandex Cloud CLI"
        "exec" "yc")
-}}

{{- $homePath := list
      (joinPath .chezmoi.homeDir ".local/bin")
      (joinPath .chezmoi.homeDir ".cargo/bin")
      (joinPath .chezmoi.homeDir ".go/bin")
-}}
{{- $path := concat (splitList ":" (env "PATH")) $homePath -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $path = append $path "/opt/homebrew/bin" -}}
{{- end -}}

{{- $binaries := dict -}}
{{- range $apps -}}
{{-   $_ := set $binaries .exec (findExecutable .exec $path) -}}
{{- end -}}

{{- $nameMaxLen := 0 -}}
{{- range $apps -}}
{{-   if gt (len .name) $nameMaxLen -}}
{{-     $nameMaxLen = len .name -}}
{{-   end -}}
{{- end -}}
{{- $displayNames := dict -}}
{{- range $apps -}}
{{-   $_ := set $displayNames .exec (printf "%-*s | %s | %s" $nameMaxLen .name (all (get $binaries .exec) | ternary "yes" "   ") .desc) -}}
{{- end -}}

{{- $configure := dig "configure" dict . -}}
{{- if empty $configure -}}
{{-   range $apps -}}
{{-     $_ := set $configure .exec (all (get $binaries .exec)) -}}
{{-   end -}}
{{- end -}}
{{- $configureList := list -}}
{{- range $exec, $configured := $configure -}}
{{-   if $configured -}}
{{-     $configureList = append $configureList (get $displayNames $exec) -}}
{{-   end -}}
{{- end -}}
{{- $configureList = promptMultichoiceOnce . "configureList" "Which apps need to be configured" (values $displayNames | sortAlpha) $configureList -}}
{{- range $apps -}}
{{-   $_ := set $configure .exec (has (get $displayNames .exec) $configureList) -}}
{{- end -}}

{{- $hostType := promptChoiceOnce . "hostType" "What type of host are you on" (list "desktop" "server") (dig "hostType" "desktop" .) -}}

{{- $sshKeysUrl := dig "ssh" "keysUrl" "" . -}}
{{- if eq $hostType "server" -}}
{{-   $sshKeysUrl = promptStringOnce . "unsafe.sshKeysUrl" "Which URL use to fetch public SSH keys" $sshKeysUrl -}}
{{- else -}}
{{-   $sshKeysUrl = "" -}}
{{- end -}}

{{- $gpgSearchTerm := dig "gpg" "searchTerm" "gpg" . -}}
{{- $gpgMainKeyId := dig "gpg" "mainKeyId" "" . -}}
{{- if and $configure.gpg $binaries.gpg $binaries.bw (eq $hostType "desktop") -}}
{{-   $prevGpgSearchTerm := $gpgSearchTerm -}}
{{-   $gpgSearchTerm = promptStringOnce . "gpg.searchTerm" "What is the search term or ID for GPG key in Bitwarden" $gpgSearchTerm -}}
{{-   if or (not $gpgMainKeyId) (ne $gpgSearchTerm $prevGpgSearchTerm) (promptBoolOnce . "gpg.refresh" "Do you need to refresh GPG key" false) -}}
{{-     $gpgKey := (bitwarden "item" $gpgSearchTerm).notes -}}
{{-     $gpgPackets := output "sh" "-c" (printf "printf -- %s | gpg --list-packets" ($gpgKey | quote)) -}}
{{-     $gpgMainKeyId = $gpgPackets | regexFind "keyid: [0-9A-F]{16}" | substr 7 23 -}}
{{-   end -}}
{{- else -}}
{{-   $gpgSearchTerm = "gpg" -}}
{{-   $gpgMainKeyId = "" -}}
{{- end -}}

{{- $gitName := dig "git" "name" "" . -}}
{{- $gitEmail := dig "git" "email" "" . -}}
{{- if $configure.git -}}
{{-   $gitName = promptStringOnce . "unsafe.gitName" "What is your name for git" $gitName -}}
{{-   $gitEmail = promptStringOnce . "unsafe.gitEmail" "What is your email for git" $gitEmail -}}
{{- else -}}
{{-   $gitName = "" -}}
{{-   $gitEmail = "" -}}
{{- end -}}

data:
  binaries:
    {{- toYaml $binaries | trim | nindent 4 }}
  configure:
    {{- toYaml $configure | trim | nindent 4 }}
  configureList:
    {{- toYaml $configureList | trim | nindent 4 }}
  hostType: {{ $hostType | quote }}
  ssh:
    keysUrl: {{ $sshKeysUrl | quote }}
  gpg:
    searchTerm: {{ $gpgSearchTerm | quote }}
    mainKeyId: {{ $gpgMainKeyId | quote }}
    refresh: false
  git:
    name: {{ $gitName | quote }}
    email: {{ $gitEmail | quote }}
  {{- /* unsafe is used to prompt empty variables */}}
  unsafe:
    _: ""
    {{- if $sshKeysUrl }}
    sshKeysUrl: {{ $sshKeysUrl | quote }}
    {{- end }}
    {{- if $gitName }}
    gitName: {{ $gitName | quote }}
    {{- end }}
    {{- if $gitEmail }}
    gitEmail: {{ $gitEmail | quote }}
    {{- end }}

bitwarden:
  unlock: true

{{ if and $configure.delta $binaries.delta -}}
diff:
  pager: delta

{{ end -}}

