{{- $apps := list
      "bat"
      "brew"
      "chezmoi"
      "delta"
      "eza"
      "fd"
      "fish"
      "fzf"
      "gpg"
      "kitty"
      "python3"
      "ranger"
      "starship"
      "tmux"
      "vim"
-}}

{{- $homePath := list
      (joinPath .chezmoi.homeDir ".local/bin")
      (joinPath .chezmoi.homeDir ".cargo/bin")
      (joinPath .chezmoi.homeDir ".go/bin")
-}}
{{- $path := concat (splitList ":" (env "PATH")) $homePath -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $path = append $path "/opt/homebrew/bin" -}}
{{- end -}}

{{- $installed := dict -}}
{{- range $apps -}}
{{-   $_ := set $installed . (findExecutable . $path) -}}
{{- end -}}

data:
  installed:
    {{- toYaml $installed | trim | nindent 4 }}
  enabled:
    fishFzf: {{ all $installed.fish $installed.fzf $installed.fd $installed.bat }}

{{ if $installed.delta -}}
diff:
  pager: delta

{{ end -}}

