{{- $manager := get .packageManagers .osid -}}

{{- $packages := dict -}}
{{- range $m := values .packageManagers -}}
{{-   $_ := set $packages $m list -}}
{{- end -}}
{{- range $a := .apps -}}
{{-   if and (get $.install $a.exec) (not (get $.binaries $a.exec)) -}}
{{-     range $m := values $.packageManagers -}}
{{-       if get $a.install $m -}}
{{-         $_ := set $packages $m (append (get $packages $m) (get $a.install $m)) -}}
{{-       end -}}
{{-     end -}}
{{-   end -}}
{{- end -}}

#!/usr/bin/env bash
set -euo pipefail

{{ if and (eq $manager "apt") .binaries.apt $packages.apt -}}
sudo apt update
sudo apt install --yes {{ $packages.apt | join " " }}

{{ else if and (eq $manager "brew") .binaries.brew -}}
brew --version

{{ end -}}

