{{- $methods := concat
      (values .packageManagers | uniq)
      (list "cargo" "script")
-}}
{{- $packages := dict -}}
{{- range $m := $methods -}}
{{-   $_ := set $packages $m list -}}
{{- end -}}
{{- range $a := .apps -}}
{{-   if and (get $.install $a.exec) (not (get $.binaries $a.exec)) -}}
{{-     range $m := $methods -}}
{{-       if get $a.install $m -}}
{{-         $_ := set $packages $m (append (get $packages $m) (get $a.install $m)) -}}
{{-       end -}}
{{-     end -}}
{{-   end -}}
{{- end -}}

{{- $manager := get .packageManagers .osid -}}

{{ if or
     (and (eq $manager "apt") .binaries.apt $packages.apt)
     (and (eq $manager "brew") .binaries.brew $packages.brew)
     (and .binaries.cargo $packages.cargo)
     $packages.script
-}}

#!/usr/bin/env bash
set -euo pipefail

{{ if and (eq $manager "apt") .binaries.apt $packages.apt -}}
sudo apt update
sudo apt install --yes {{ $packages.apt | join " " }}

{{ end -}}

{{ if and (eq $manager "brew") .binaries.brew $packages.brew -}}
brew --version

{{ end -}}

{{ if and .binaries.cargo $packages.cargo -}}
{{ .binaries.cargo }} install {{ $packages.cargo | join " " }}

{{ end -}}

{{ if $packages.script -}}
{{ $packages.script | join "\n" }}

{{ end -}}

{{ end -}}

