{{ if and .configure.yazi .binaries.ya -}}
#!/usr/bin/env bash
set -euo pipefail

rm -rf "$HOME/.config/yazi/plugins"

cat <<EOF > "$HOME/.config/yazi/package.toml"
[[plugin.deps]]
use = "yazi-rs/plugins:full-border"

[[plugin.deps]]
use = "yazi-rs/plugins:smart-enter"

[[plugin.deps]]
use = "yazi-rs/plugins:chmod"

[[plugin.deps]]
use = "yazi-rs/plugins:mount"

{{ if and .configure.git .binaries.git -}}
[[plugin.deps]]
use = "yazi-rs/plugins:git"

{{ end -}}
EOF

{{ .binaries.ya }} pkg install

{{ end -}}

