{{ if and .configure.tmux .binaries.tmux -}}
#!/usr/bin/env bash
set -euo pipefail

# hash: {{ includeTemplate "dot_tmux.conf.tmpl" . | sha256sum }}

{{ .binaries.tmux }} new-session -d "$HOME/.tmux/plugins/tpm/bindings/install_plugins"

{{ end -}}

