{{ if .configure.ghostty -}}
theme = "Night Owl"

background-opacity = 0.95
background-blur = true

font-family = "FiraCode Nerd Font Mono"
font-feature = "-calt"
font-size = 15
font-thicken = true

window-padding-x = 14
window-padding-y = 12
window-padding-balance = true
window-padding-color = extend
window-width = 137
window-height = 36

mouse-hide-while-typing = true

shell-integration-features = ssh-env, ssh-terminfo

{{ if eq .chezmoi.os "darwin" -}}
macos-titlebar-style = tabs

{{ end -}}

{{ end -}}

