{{ if .configure.yazi -}}
[mgr]
syntect_theme = "~/.config/yazi/TwoDark.tmTheme"

[tabs]
sep_inner = { open = "", close = "" }
sep_outer = { open = "", close = "" }

[indicator]
preview = {}
padding = { open = "█", close = "█" }

[status]
sep_left  = { open = "", close = "" }
sep_right = { open = "", close = "" }

{{ end -}}

