{{ if .configure.yazi -}}
[mgr]
linemode    = "size"
show_hidden = true

{{ if and .configure.git .binaries.git -}}
[[plugin.prepend_fetchers]]
id    = "git"
url   = "*"
run   = "git"
group = "git"

[[plugin.prepend_fetchers]]
id    = "git"
url   = "*/"
run   = "git"
group = "git"

{{ end -}}

{{ end -}}

