{{ if and .installed.fish .installed.gpg -}}
function gpg-back -d "making backup for specified gpg key"
    gpg --output pubkey.gpg --export "$argv[1]" && \
        gpg --output - --export-secret-key "$argv[1]" | \
        cat pubkey.gpg - | \
        gpg --armor --output keys.asc --symmetric --cipher-algo AES256
end

{{ end -}}

