{{ if .installed.fish -}}
# Load user configurations (it is needed to separate fisher and user configurations)
for file in "$__fish_config_dir"/user.{functions,conf.d,completions}/*.fish
    source "$file"
end

# Theme settings
set -U fish_prompt_pwd_dir_length 0
set -U fish_color_command blue
set -U fish_color_param dadada
set -U fish_color_operator dadada --bold
set -U fish_color_comment white
set -U theme_display_time yes
set -U theme_display_group no
set -U theme_display_rw no

{{ if or .installed.fd .installed.bat .installed.vim -}}
# fifc settings
{{ if .installed.fd -}}
set fifc_fd_opts --hidden --exclude=.git
{{ end -}}
{{ if .installed.bat -}}
set fifc_bat_opts --style=numbers --color=always
{{ end -}}
{{ if .installed.vim -}}
set fifc_editor vim
{{ end -}}
{{ end -}}

{{ if .enabled.fishFzf -}}
# fzf.fish settings
set fzf_fd_opts --hidden --exclude=.git
{{ if .installed.eza -}}
set fzf_preview_dir_cmd eza -la --group-directories-first --icons --no-permissions --no-user --no-filesize --no-time
{{ end -}}
{{ if .installed.delta -}}
set fzf_diff_highlighter delta --paging=never --width=20
{{ end -}}

{{ end -}}
{{ end -}}

