{{ if .configure.fish -}}
jorgebucaran/fisher
hastinbe/theme-kawasaki
jethrokuan/z
gazorby/fifc
{{- if and .configure.fzf .binaries.fzf .binaries.fd .binaries.bat }}
patrickf1/fzf.fish
{{- end }}
jorgebucaran/nvm.fish
{{ end -}}

